:root{
    font-size: 2vh; /* Pixel values are based on height 1080px therefore 1rem = 21.6px for this resolution */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.keybinding-tip {
    position: absolute;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* Chrome */
    word-wrap: break-word; /* IE */
    overflow: visible;
    display: none;
}

#keybinding_hints_checkbox {
    position: absolute;
    top: 4%;
    left: 2.5%;
    width: 10%;
    height: 4%;
    background-image: url(img/ui/checkbox_unchecked.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(239, 200, 81);
}

#keybinding_hints_checkbox:hover {
    color: rgb(135, 206, 235)
}


#keybinding_hints_checkbox span {
    font-family: "Kreon", serif;
    font-size: 1.1rem;
    font-weight: 700;
    left: 2rem;
    position: absolute;
    left: 30%;
    top: -20%;
}

div.hitbox {
    position: absolute;
}

.mag-glass {
    cursor: url(img/magGlass2.png) 24 25, auto;
}

div.powertip {
    box-sizing: border-box;
    color: rgb(255, 247, 222);
    background-color: rgb(34, 42, 43);
    font-family: "Kreon", serif;
    font-weight: 400;
    line-height: 1.17;
    border: 0.324rem solid;
    border-radius: 0.63rem;/*0.694rem;*/
    -moz-border-radius: 0.63rem;
    -webkit-border-radius: 0.63rem;
    border-top-color: rgb(83, 105, 110);
    border-left-color: rgb(83, 105, 110);
    border-right-color: rgb(51, 66, 70);
    border-bottom-color: rgb(51, 66, 70);
    width: 14.583rem;
    padding: 0px 0.509rem 0.417rem;
    font-size: 1.019rem;
    text-shadow: 0.139rem 0.139rem 0px rgba(0,0,0,0.3);
    margin-bottom: 0.278rem;
}

.powertip-shadow {
    -webkit-box-shadow: 0.65em 0.7em 0.035em 0.105em rgba(0,0,0,0.3);
    -moz-box-shadow: 0.65em 0.7em 0.035em 0.105em rgba(0,0,0,0.3);
    box-shadow: 0.65em 0.7em 0.035em 0.105em rgba(0,0,0,0.3);
}

div.powertip-header-noimg {
    margin: 0.324rem 0rem 0.231rem;
}

div.powertip-header-wimg {
    margin: 0.093rem 0px -0.046rem;
}

img.powertip-img {
    vertical-align: -0.509rem;
    width: 1.667rem;
    height: 1.667rem;
}

img.energy-orb-img {
    vertical-align:top;
    width: 1.111rem;
    height: 1.111rem;
}

img.energy-orb-img-scalable {
    vertical-align:top;
    width: 1.111em;
    height: 1.111em;
}

div.powertip-header {
    color: rgb(239, 200, 81);
    font-weight: 700;
    -webkit-text-stroke-color: rgb(58, 49, 20);
    text-shadow: 0.046rem 0.046rem 0px rgba(0,0,0,0.3);
    letter-spacing: 0.046rem;
}

div.powertip-strip {
    display: none;
    position: absolute;
    width: 14.583rem;
}

div.powertip-multicol {
    display: none;
    position: absolute;
}

div.powertip-multicol-column {
    float: left;
    width: 14.583rem;
    margin-right: 0.370rem;
}

.button-border {
    border: 1px solid rgba(255,255,255,0.4);
}

.button-border:hover {
    border: 1px solid rgba(255,255,255,0.8);
    background-image: url(img/ui/deck.png);
}

#deck_button {
    position: absolute;
    display: none;
    width: 3.438%;
    height: 8%;
    top: 0%;
    right: 4.322%; /*.053*/
    z-index: 9;
    background-size: contain;
    background-position-y: -0.046rem;
    /* border: 1px solid rgba(255,255,255,0.0); */
    box-sizing: border-box;
    background-repeat: no-repeat;
}

#deck_view {
    display: none;
    position: absolute;
    left: 0%;
    top: 6.018%;
    width: 100%;
    height: 93.982%;
    z-index: 10;
    background-color: rgba(0,0,0,0.9);
}

#deck_view_return_btn {
    position: absolute;
    left: 0%;
    top: 76.35%;
    width: 14.323%;
    height: 9.259%;
    background-size: cover;
    background-image: url('img/ui/btn_return_base.png');
    background-repeat: no-repeat;
    z-index: 1
}

#deck_view_return_btn:hover {
    background-image: url('img/ui/btn_return_hover.png');
}

#deck_view_left_bar {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 15.234%;
    height: 100%;
    z-index: -1;
}

#deck_view_right_bar {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 15.234%;
    height: 100%;
    z-index: -1;
}

.deck-view-footer {
    position: absolute;
    display: block;
    height: 10rem;
    width: 100%;
}

#deck_view_content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#deck_view_content_wrap {
    position: absolute;
    width: 100%;
    /* overflow: hidden; */
}

div.card {
    position: absolute;
    float: left;
    font-family: "Kreon", serif;
    font-size: 1rem;
    overflow: visible;
}

div.card-shadow-drop {
    position: absolute;
    left: 7.67%;
    top: 5.337%;
    width: 84.661%;
    height: 91.991%;
    z-index: -10;
    visibility: hidden;

    border-radius: 0.474em;
    -moz-border-radius: 0.474em;
    -webkit-border-radius: 0.474em;
    
    -webkit-box-shadow: 0.65em 0.7em 0.035em 0.105em rgba(0,0,0,0.3);
    -moz-box-shadow: 0.65em 0.7em 0.035em 0.105em rgba(0,0,0,0.3);
    box-shadow: 0.65em 0.7em 0.035em 0.105em rgba(0,0,0,0.3);
}

div.card-shadow-blur {
    position: absolute;
    left: 7.67%;
    top: 5.337%;
    width: 84.661%;
    height: 91.991%;
    z-index: -10;
    visibility: hidden;

    border-radius: 0.474em;
    -moz-border-radius: 0.474em;
    -webkit-border-radius: 0.474em;
    
    -webkit-box-shadow: 0px 0px 1.403em 1.228em rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 1.403em 1.228em rgba(0,0,0,0.45);
    box-shadow: 0px 0px 1.403em 1.228em rgba(0,0,0,0.45);
}

div.card-img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

div.card-portrait {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    left: 12.979%;
    top: 13.4%;
    width: 73.746%;
    height: 43.478%;
}

div.card-title {
    position: absolute;
    text-align: center;
    left: 18%;
    top: 9.4%;
    width: 64%;
    height: 25%;
    overflow: hidden;
    color: white;
    font-weight: 700;
    --outline-color: rgb(2, 2, 2);
    text-shadow: 0.139em 0.139em 0px rgba(0,0,0,0.3), -1px -1px 0 var(--outline-color),
        0   -1px 0 var(--outline-color),
        1px -1px 0 var(--outline-color),
        1px  0   0 var(--outline-color),
        1px  1px 0 var(--outline-color),
        0    1px 0 var(--outline-color),
        -1px  1px 0 var(--outline-color),
        -1px  0   0 var(--outline-color);
}

div.card-title-text-regular {
    font-size: 0.984em; /* 0.948rem; */
}

div.card-title-text-small {
    font-size: 0.839em; /* 0.948rem; */
}

#temp_card_title {
    width: 7.911rem;
    visibility: hidden;
    position: absolute;
    font-family: "Kreon", serif;
    font-weight: 700;
}

div.card-bottle {
    position: absolute;
    right: -3.3%;
    top: -1%;
    width: 3.6em;
    height: 3.6em;
    background-size: cover;
}

div.card-cost {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    left: 3.137%;
    top: 2.075%;/*2.275%;*/
    width: 14%;
    height: 10%;
    overflow: hidden;
    font-weight: 700;
    font-size: 1.53em;/* 1.458rem;/* 1.385rem; */
    color: white;
}

div.card-description {
    position: absolute;
    left: 14%;
    top: 59.81%;
    width: 72%;
    height: 4.873em; /* 30.597%; 4.873rem; */
    line-height: 4.873em; /*30.597% 4.873rem; */
    font-weight: 400;
    /* font-size: 0.875em; */
    overflow: hidden;
    color: white;
    text-align: center;
}

span.card-description-text {
    line-height: 1.05;
    display: inline-block;
    vertical-align: middle;
}

#temp_card_description {
    width: 8.9rem;
    line-height: 1.05;
    visibility: hidden;
    position: absolute;
    font-family: "Kreon", serif;
    font-weight: 400;
}

.card-description-text-shadow {
    text-shadow: 0.185rem 0.139rem 0px rgba(0,0,0,0.3)
}

.outline-black {
    text-shadow: -1px -1px 0 #000,
        0   -1px 0 #000,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
}

#card_view {
    display: none;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0,0,0,0.9);
}

#card_view_prev_btn {
    position: absolute;
    width: 7.812%;
    height: 14.815%;
    left: 24.74%;
    top: 40.13%;
    background-image: url(img/ui/btn_prev_base.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#card_view_prev_btn:hover {
    background-image: url(img/ui/btn_prev_hover.png);
}

#card_view_next_btn {
    position: absolute;
    width: 7.812%;
    height: 14.815%;
    left: 67.813%;
    top: 40.13%;
    background-image: url(img/ui/btn_next_base.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#card_view_next_btn:hover {
    background-image: url(img/ui/btn_next_hover.png);
}

#card_view_prev_btn.card-view-prev-btn-pressed1 {
    background-image: url(img/ui/btn_prev_base.png);
}

#card_view_prev_btn.card-view-prev-btn-pressed2 {
    background-image: url(img/ui/btn_prev_hover.png);
}

#card_view_next_btn.card-view-next-btn-pressed1 {
    background-image: url(img/ui/btn_next_base.png);
}

#card_view_next_btn.card-view-next-btn-pressed2 {
    background-image: url(img/ui/btn_next_hover.png);
}

#card_view_checkbox {
    position: absolute;
    width: 13.594%;
    height: 4.907%;
    left: 43.229%;
    top: 89.296%;
    background-repeat: none;
    background-size: cover;
}

.card-view-checkbox-unchecked {
    background-image: url(img/ui/checkbox_upgrade.png)
}

.card-view-checkbox-unchecked:hover {
    background-image: url(img/ui/checkbox_upgrade_hover.png)
}

.card-view-checkbox-checked {
    background-image: url(img/ui/checkbox_upgrade_checked.png)
}

.card-view-checkbox-checked:hover {
    background-image: url(img/ui/checkbox_upgrade_checked_hover.png)
}

#card_view_tips_box {
    position: absolute;
    left: 68.008%;
    top: 57.408%;
    width: 19%;
    height: 40.092%;
    overflow-y: auto;
    display: block;
    /* border: 1px solid white; */
}

.card-view-what-mod-tip {
    position: absolute;
    left: 68.008%;
    top: 29.5%;
}

.text-white {
    color: rgb(255, 247, 222);
}

.text-yellow {
    color: rgb(239, 200, 81);
}

.text-blue {
    color: rgb(135, 206, 235);
}

.text-red {
    color: rgb(255, 101, 99);
}

.text-green {
    color: rgb(127, 255, 0);
}

.text-pink {
    color: rgb(238, 130, 238);
}

.text-other {
    color: rgb(53, 255, 255);
}

#placeholder {
    width: 0%;
    height: 0%;
}
